.myappstyle {
    background-color: #282c34;
    color: #61dafb;
}

.navbar-dark {
    background-color: #F20062;
    color: #00F290;
}

.btn-light {
    color: #ff0066;
    
}

.btn-light:hover, .btn-light:active {
    color: #ff0066;
    font-weight: bold;
}

.btn-light.focus, .btn-light:focus {
    color: #ff0066;
    font-weight: bolder;
}

.modal-header-btn {
    z-index: 5;
}

.custom-footer {
    min-height: 12rem;
    background-color: #ebb1b1;
}
